
table{
	border-collapse: collapse;
}

div.reslut {
	margin-top:50px;
	text-align:center;
	width: 300px;
	height: 270px;
	border: 1px solid gray;
}

#reslut td {
	border: 1px solid gray;
	font-family: '仿宋';
	text-align: center;
	height: 25px;
}

#reslut th {
	border: 1px solid gray;
	font-family: '仿宋';
	font-size: large;
	text-align: center;
	height: 40px;
}

.reslut_input {
	font-family: '仿宋';
	text-align: center;
	height: 28px;
	width: 150px;
}